
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-image: image url("cyber.jpeg");
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav {
    background-color: #444;
    color: #fff;
    padding: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin-right: 10px;
}

image {
    padding: 10px;

}

section {
    padding: 20px;
}

footer {
    background-color: blueviolet;
    color: #fff;
    padding: 10px;
    bottom: 0;
    width: 100%;
}
